body {
background -color: white;
font-family: Courier New;
font-size 150%;
}

nav {
color: blue;
font-family: Courier New;
font-size 150%;
}

h1 {
color: blue;
font-family: Courier New;
font-size 150%;
}

table {
background-color: white;
border-collapse: collapse;
width: 60%;
}

td {
padding: 10px;
border: 1px solid #ccc;
}

p {
color: blue;
font-family: Courier New;
font-size 150%;
}

