body {
background -color: white;
font-family: Geometric;
font-size 150%;
}

nav {
color: blue;
font-family: Geometric;
font-size 150%;
}

h1 {
color: blue;
font-family: Geometric;
font-size 150%;
}


p {
color: blue;
font-family: Geometric;
font-size 150%;
}

